<h1>StaticPages#home</h1>
<div class="center jumbotron">
  <div class="namebox">
    <h1 class="display-3">VisionLab Library</h1>
    <%= link_to "書籍登録へ", new_book_path, class: "btn btn-lg btn-success" %>
    <%= link_to "書籍一覧へ", books_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>