
<div class="row mt-5 d-flex">
	<%= paginate @books %>
	<% @books.each do |book| %>
		<div class="book text-center">
			<div class="bookcontainer">
          <a href="/books/<%= book.id %>"><img src="<%= book.image_url %>" onError="this.onerror=null;this.src='/noimage.png';" height="170"/></a>
          <p><%= link_to book.title, book %></p>
        </div>
		</div>
	<% end %>
</div>
