<div class="container mt-5">
  <h1 class="text-center">書籍登録</h1>

  <%= form_with(model: @book, local: true) do |f| %>
    <%= react_component("BooksForm", { book: @book, places: @places }) %>
  <% end %>
</div>
