@import '~bootstrap-material-design/scss/bootstrap-material-design';

.home {
  margin-top: 50px;
}

.book {
  margin: 0 auto;
}

.red {
  color:red;
}

.footer{
 width: 100%;
 
 color: white;
 text-align: center;
}